# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
TestResults/
build/
packages/
*.ncrunch*
*.vssscc
_ReSharper*/
*.DS_Store

# ASP.NET Core
appsettings.Development.json

# Others (optional for GitHub/Azure)
.idea/
*.log
node_modules/
.env
